button{
  color: white;
  background-color: red;
  height: 30px;
}
h2{
  color: red;
}
h1,p{
  color: white;
}

div{
  background-color: rgb(9, 2, 2);
  min-height: calc(100vh - 15vh);
}
#top{
  background-color: white;
  height: 15vh;
}
/* *{
  margin: 0;
  background-color: black;
} */